/* InputField*/
.input {
  width: 90%;
  display: flex;
  align-items: center;
  position: relative;
}
.input_box {
  width: 100%;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  border-radius: 50px;
  transition: 0.2s;
  box-shadow: inset 0px 0px 5px black;
  outline: none;
}
.btn_box {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 0;
  margin: 12px;
  background: #2f74c0;
  font-size: 15px;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
  border: none;
  color: white;
}
.btn_box:hover {
  background: #388ae2;
}
.btn_box:active {
  box-shadow: 0 0 5px black;
  transform: scale(0.8);
}

/* To Do List */
.todo_list_container {
  padding: 20px 0;
  width: 90%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.todoActive {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  background-color: #359eef;
  text-align: center;
}

.todoActiveText {
  font-weight: 700;
  font-size: 30px;
}

.dragActive {
  background-color: #2f74c0;
}

.todoComplete {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  background-color: #158b06;
  text-align: center;
}

.todoCompleteText {
  font-weight: 700;
  font-size: 30px;
}

.dragRemove {
  background-color: #154f11;
}

/* SingleTodo */
.todo_list {
  background: rgb(22, 84, 86);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.drag {
  box-shadow: 0 0 20px black;
}

.input_edit {
  width: 60%;
  padding: 5px 0px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 2px solid rgb(5, 14, 108);
  background-color: rgb(22, 84, 86);
  color: #fff;
}

.edit {
  color: rgb(5, 14, 108);
}

.todo_text {
  width: 60%;
  font-size: 20px;
  font-weight: 500;
  text-align: start;
  color: #b8b5b5;
}

.todo_icon_container {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.todo_icon {
  font-size: 30px;
  padding: 1px 5px;
  cursor: pointer;
}

.delete {
  color: red;
}

.done {
  color: green;
}
